.advert-swiper {
  position: relative;
  .swiper-wrapper {
    align-items: stretch;
  }
  &__bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
  }
  &__bg img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .advert-swiper-content {
    padding: 34px 0px 0px 0px;
    position: relative;
    z-index: 2;
    &__text {
      font-size: 15px;
      line-height: 25px;
      max-width: 688px;
      text-align: center;
      margin: 27px auto 0px auto;
      color: white;
    }

    &__btn {
      max-width: 250px;
      margin: 50px auto 100px auto;
    }
  }

  .advert-swiper-control {
    position: relative;
    z-index: 2;
    transform: translate(0px, -50%);
    &__content {
      margin: 0 auto;
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    &__block {
      height: calc(100px * 0.7);
      width: calc(100px * 0.7);
      background: white;
      font-size: 30px;
      transform: rotate(45deg);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
    }
    &__arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid $main-gold-color;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 7px;
      cursor: pointer;
      &_prev {
        transform: rotate(135deg);
      }
      &_next {
        transform: rotate(-45deg);
      }
    }
    &__icon {
      height: 26px;
      width: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 6px;
    }
  }

  @media (max-width: 400px) {
    .main-title__subtitle {
      font-size: 30px;
      letter-spacing: 4px;
    }
  }
}
