// *Бургер меню

.burger-menu {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 5;
  cursor: pointer;
  overflow: hidden;
}

.burger-menu::before,
.burger-menu::after,
.burger-menu span {
  width: 100%;
  height: 10%;
  display: block;
  position: absolute;
  left: 0;
  background: $main-gold-color;
  transition: all 0.4s ease;
}

.burger-menu::before,
.burger-menu::after {
  content: "";
}
.burger-menu::before {
  top: 0;
}
.burger-menu::after {
  bottom: 0;
}

.burger-menu span {
  top: 50%;
  transform: translate(0, -50%);
}
.burger-menu._active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}
.burger-menu._active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}
.burger-menu._active span {
  display: none;
}
